<p class = "task-list-item">
    <span hidden id = "task-id">{{id}}</span>{{ text }} {{ status }}
    <button class="delete-btn"><i class='fas fa-trash-alt float-right text-danger'></i></button>

</p>



