* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

#calendar {
    height: 40%;
}

header, footer {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.task-list-in-work li {
    cursor: pointer;
    background-color: lightgoldenrodyellow;
    list-style-type: none;
}

.task-list-complete li {
    cursor: pointer;
    background-color: lightsteelblue;
    list-style-type: none;
}